.modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.editModal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.editModal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 20px;
  background: #c4c4c4;
  width: 478px;
  height: 345px;
  gap: 28px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
}

.editModal__title {
  margin-bottom: 22px;
  font-size: 32px;
  font-weight: 500;
}

.editModalForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
}

.editModalForm__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 28px;
}

.editModalForm__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.editModalForm label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
  color: #2d2d2d;
}

.editModalForm label::after {
  content: "*";
  color: #da1111;
  margin-left: 2px;
}

.editModalForm input {
  background-color: #11055b;
  border-radius: 4px;
  width: 194px;
  height: 19px;
  color: #ffffff;
  padding: 3px;
  padding-left: 7px;
}

.editModalForm select {
  background-color: #11055b;
  border-radius: 4px;
  width: 194px;
  height: 19px;
  color: #ffffff;
}

.editModalForm .requiredField {
  color: #da1111;
  font-size: 11px;
  font-weight: 500;
}

.editModalForm .requiredField--name {
  display: none;
}

.editModalForm .requiredField--email {
  display: none;
}

.editModalForm .requiredField--gender {
  display: none;
}

.editModalForm .requiredField--description {
  display: none;
}

.editModal__btn {
  width: 139px;
  height: 25px;
  padding: 3px 17px;
  margin-bottom: 6px;
  margin-top: 25px;
}

.editModal__close {
  all: unset;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  background-color: #ff0000;
  border-radius: 100px;
  width: 32px;
  height: 32px;
  top: -16px;
  right: -16px;
}

.deleteModal {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.deleteModal__title {
  font-weight: 500;
  font-size: 40px;
  color: #ffffff;
}

.deleteModal__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.deleteModal__btns button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
  height: 57px;
  font-size: 24px;
  font-weight: bold;
}

.deleteModal__btns .deleteModal__deleteBtn {
  margin-right: 316px;
}
/*# sourceMappingURL=modals.css.map */