* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.editModal {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.editModal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 20px;
  background: #c4c4c4;
  width: 478px;
  height: 345px;
  gap: 28px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  position: relative;
}

.editModal__title {
  margin-bottom: 22px;
  font-size: 32px;
  font-weight: 500;
}

.editModalForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
}

.editModalForm__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 28px;
}

.editModalForm__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.editModalForm label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
  color: #2d2d2d;
}

.editModalForm label::after {
  content: "*";
  color: #da1111;
  margin-left: 2px;
}

.editModalForm input {
  background-color: #11055b;
  border-radius: 4px;
  width: 194px;
  height: 19px;
  color: #ffffff;
  padding: 3px;
  padding-left: 7px;
}

.editModalForm select {
  background-color: #11055b;
  border-radius: 4px;
  width: 194px;
  height: 19px;
  color: #ffffff;
}

.editModalForm .requiredField {
  color: #da1111;
  font-size: 11px;
  font-weight: 500;
}

.editModalForm .requiredField--name {
  display: none;
}

.editModalForm .requiredField--email {
  display: none;
}

.editModalForm .requiredField--gender {
  display: none;
}

.editModalForm .requiredField--description {
  display: none;
}

.editModal__btn {
  width: 139px;
  height: 25px;
  padding: 3px 17px;
  margin-bottom: 6px;
  margin-top: 25px;
}

.editModal__close {
  all: unset;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  background-color: #ff0000;
  border-radius: 100px;
  width: 32px;
  height: 32px;
  top: -16px;
  right: -16px;
}

.deleteModal {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.deleteModal__title {
  font-weight: 500;
  font-size: 40px;
  color: #ffffff;
}

.deleteModal__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.deleteModal__btns button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
  height: 57px;
  font-size: 24px;
  font-weight: bold;
}

.deleteModal__btns .deleteModal__deleteBtn {
  margin-right: 316px;
}

.btn {
  border: none;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
}

.btn--red {
  background: #dc3741;
  color: #ffffff;
}

.btn--blue {
  background: #7066e0;
  color: #0b0000;
}

.btn--yellow {
  background: #ffbe6b;
  color: #000000;
}

body {
  background-color: #171515;
  height: 100vh;
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.dashboard__title {
  color: #ffffff;
  font-size: 45px;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 30px;
}

.dashboard .panel {
  background-color: #474554;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 6px;
  width: 1126px;
  padding-bottom: 30px;
}

.dashboard .panel__title {
  color: #ffffff;
  margin-top: 31px;
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 30px;
}

.dashboard .panel .registerPanel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.dashboard .panel .registerPanel .table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 731px;
  background-color: #c4c4c4;
  font-size: 14px;
  -webkit-box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin-right: 42px;
  padding: 12px 16px;
  border: 0;
  max-height: 345px;
  max-width: 100%;
  overflow-y: scroll;
}

.dashboard .panel .registerPanel .table::-webkit-scrollbar {
  background-color: #c4c4c4;
  border-radius: 8px;
}

.dashboard .panel .registerPanel .table::-webkit-scrollbar-thumb {
  background-color: #eae9e9;
}

.dashboard .panel .registerPanel .table__header {
  font-weight: 500;
}

.dashboard .panel .registerPanel .table__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border-bottom: 1px solid #939393;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 45px;
}

.dashboard .panel .registerPanel .table p {
  display: block;
  font-size: 14px;
  margin-left: 15px;
}

.dashboard .panel .registerPanel .table__cellName {
  width: 130px;
}

.dashboard .panel .registerPanel .table__cellEmail {
  width: 200px;
}

.dashboard .panel .registerPanel .table__cellGender {
  width: 130px;
}

.dashboard .panel .registerPanel .table__cellDescription {
  width: 250px;
}

.dashboard .panel .registerPanel .table__cellEdit {
  width: 100px;
}

.dashboard .panel .registerPanel .table__cellDelete {
  width: 100px;
}

.dashboard .panel .registerPanel .table__line:not(.table__header) > p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.dashboard .panel .registerPanel .table .icon {
  cursor: pointer;
}

.dashboard .panel .registerPanel .registerForm {
  padding: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 261px;
  background-color: #c4c4c4;
}

.dashboard .panel .registerPanel .registerForm label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 8px;
  color: #2d2d2d;
  margin-top: 18px;
}

.dashboard .panel .registerPanel .registerForm label::after {
  content: "*";
  color: #da1111;
  margin-left: 2px;
}

.dashboard .panel .registerPanel .registerForm input {
  background-color: #11055b;
  border-radius: 4px;
  width: 210px;
  height: 20px;
  color: #ffffff;
  padding: 3px;
}

.dashboard .panel .registerPanel .registerForm .requiredField {
  color: #da1111;
  font-size: 11px;
  font-weight: 500;
}

.dashboard .panel .registerPanel .registerForm .requiredField--name {
  display: none;
}

.dashboard .panel .registerPanel .registerForm .requiredField--email {
  display: none;
}

.dashboard .panel .registerPanel .registerForm .requiredField--gender {
  display: none;
}

.dashboard .panel .registerPanel .registerForm .requiredField--description {
  display: none;
}

.dashboard .panel .registerPanel .registerForm select {
  background-color: #11055b;
  border-radius: 4px;
  width: 210px;
  height: 20px;
  color: #ffffff;
}

.dashboard .panel .registerPanel .registerForm button {
  width: 103px;
  height: 25px;
  padding: 3px 17px;
  margin-bottom: 6px;
  margin-top: 20px;
}
/*# sourceMappingURL=style.css.map */